.details {
  color: transparent;
  line-height: 1.6;
  margin-top: 150px;
}
h1,
h2 {
  margin: 0 0 1rem;
  font-weight: bold;
}
button {
  padding: 10px 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  opacity: 0.9;
}

/* Section 1: Top Section */
.details-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 30px 150px;
}
.details-left {
  flex: 1;
  text-align: left;
}
.details-left .overline {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #7780a1;
}
.details-left .big-text {
  font-family: "Sora";
  font-size: 64px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #fff;
}
.details-left .paragraph {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #7780a1;
}
.details-left .button-group button {
  margin-right: 1rem;
  margin-top: 25px;
}
.details-left .get-started {
  padding: 16px 24px 16px 24px;
  width: 150px;
  gap: 10px;
  border-radius: 12px;
  color: #fff;
  background: linear-gradient(104.42deg, #4745d0 0%, #2a27c9 60.23%);
}
.details-left .learn-more {
  border: 2px solid #262840;
  padding: 16px 24px 16px 24px;
  gap: 10px;
  border-radius: 12px;
  background: transparent;
  color: #7780a1;
}
.details-right {
  flex: 1;
  position: relative;
}
.details-right .top-image {
  position: absolute;
  width: 300px;
  height: 300px;
  top: -300px;
  left: 60%;
  transform: translateX(-50%);
  z-index: 1;
}
.details-right .bottom-image {
  position: absolute;
  width: 280px;
  height: 280px;
  top: -110px;
  left: 40%;
  transform: translateX(-50%);
  z-index: 2;
  opacity: 1;
}

/* Section 2: Middle Section */
.details-middle {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 20px;
  margin-top: 50px;
}
.carousel {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #262840;
  padding: 30px;
  height: auto;
}
.carousel-item {
  display: inline-block;
  text-align: center;
}
.sale-header {
  font-family: "Sora";
  font-size: 32px;
  font-weight: 600;
  line-height: 40.32px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #fff;
}
.sale-item {
  display: inline-block;
  text-align: center;
  margin: 1rem;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #262840;
}
.sale-image {
  border-radius: 8px;
  margin-bottom: 20px;
}
.sale-text {
  font-family: "Sora";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #fff;
}
.sale-info {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.sale-info span {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #fff;
  margin-left: 10px;
}
.price-box {
  color: #514cff;
  background: #514cff26;
  padding: 0.3rem 0.8rem;
  border-radius: 4px;
  margin-left: 70px;
  margin-right: 20px;
  font-family: Sora;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.divider {
  border: 1px solid #262840;
}
.last {
  display: flex;
  margin-top: 10px;
  gap: 40px;
}
.bidding-info {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #7780a1;
}
.love-icon {
  width: 20px;
  height: 20px;
  padding: 2.5px 1.67px 2.64px 1.67px;
}
.show-more {
  margin-top: 30px;
  border-radius: 12px;
  border: 2px solid #262840;
  background: transparent;
}
.show-more p {
  font-family: "Sora";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-align: center;
  color: #7780a1;
}

/* Middle */
.middle-content {
  background-color: #000;
  margin-left: 20px;
  margin-right: 20px;
}
content {
  display: flex;
  flex-direction: column;
}
.middle-image {
  max-width: 80%;
}
.middle-header {
  font-family: "Sora";
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #fff;
  margin-left: 55px;
  margin-top: 30px;
  text-align: left;
}
.middle-paragraph {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #7780a1;
  margin-left: 55px;
  text-align: left;
  margin-top: 30px;
}
.get-started {
  margin-top: 60px;
  background: linear-gradient(104.42deg, #4745d0 0%, #2a27c9 60.23%);
  border-radius: 12px;
  width: 300px;
  margin-right: 50px;
}
.get-started p {
  font-family: "Sora";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
}

/* Left */
.top-nft {
  display: flex;
  flex-direction: column;
  border: 1px solid #262840;
  padding: 30px;
  margin-left: 20px;
  margin: 1rem 0;
}
.top-header {
  font-family: "Sora";
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 40.32px;
  letter-spacing: 0.2px;
  text-align: left;
}
.nft-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5rem;
  margin: 0.5rem 0;
}
.nft-item {
  display: flex;
  /* border: 1px solid #ddd; */
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: transparent;
}
.nft-image {
  width: 80px;
  height: 80px;
  border-radius: 20px;
}
.nft-info {
  letter-spacing: 0.2px;
  text-align: left;
  margin-top: 0.5rem;
  margin-left: 20px;
}
.nft-info h1 {
  font-family: "Sora";
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  line-height: 16px;
}
.nft-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.nft-details span {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
  margin-left: 10px;
}
.nft-last {
  display: flex;
  margin-top: 10px;
  gap: 40px;
}
.nft-info p {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #7780a1;
}
.nft-show-more {
  margin-top: 70px;
  border-radius: 12px;
  border: 2px solid #262840;
  background: transparent;
  height: 45px;
}
.nft-show-more p {
  font-family: "Sora";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-align: center;
  color: #7780a1;
}

/* Section 3: Bottom Section */
.details-bottom {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  padding: 30px 150px;
  position: relative;
}
.bottom-right {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.bottom-right .top-image {
  position: absolute;
  width: 300px;
  height: 300px;
  top: -200px;
  right: 0;
  z-index: 1;
}
.bottom-right .bottom-image {
  position: absolute;
  width: 280px;
  height: 280px;
  bottom: -270px;
  right: 120px;
  z-index: 2;
  opacity: 1;
}
.bottom-left {
  flex: 1;
  text-align: left;
  position: relative;
  z-index: 3;
}
.bottom-left .overline {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #7780a1;
  margin-bottom: 20px;
}
.bottom-left .big-text {
  font-family: "Sora", sans-serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0.2px;
  color: #fff;
}
.bottom-left .para {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #7780a1;
}
.icon-columns {
  display: flex;
  gap: 3rem;
  margin: 3rem 0;
  justify-content: left;
}
.icon {
  max-width: 50px;
  margin-bottom: 1rem;
}
.icon-text {
  font-family: "Sora";
  font-size: 20px;
  font-weight: 600;
  line-height: 25.2px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #fff;
}
.icon-paragraph {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #7780a1;
}
.bottom-left .get-started {
  padding: 16px 24px 16px 24px;
  width: 150px;
  gap: 10px;
  border-radius: 12px;
  color: #fff;
  background: linear-gradient(104.42deg, #4745d0 0%, #2a27c9 60.23%);
}
.bottom-left .learn-more {
  border: 2px solid #262840;
  padding: 16px 24px 16px 24px;
  gap: 10px;
  border-radius: 12px;
  background: transparent;
  color: #7780a1;
}
.detail-divider {
  margin-top: 60px;
  border: 1px solid #262840;
}
