.auction-card-container {
  background: transparent;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auction-card-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.auction-card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Sora";
  font-size: 16px;
  font-weight: 600;
  line-height: 20.16px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #fff;
}

.auction-card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.auction-card-details .auction-card-time {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #fff;
  margin-right: 40px;
}

.auction-card-price {
  color: #28a745;
  background: #514cff26;
  padding: 6px 10px;
  gap: 10px;
  border-radius: 4px;

  font-family: "Sora";
  font-size: 13px;
  font-weight: 600;
  line-height: 16.38px;
  letter-spacing: 0.2px;
  color: #514cff;
}

.auction-card-divider {
  border: none;
  border-top: 1px solid #eee;
  margin: 15px 0;
}

.auction-card-watching {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.auction-card-watchers {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #7780a1;
}

.auction-card-love-icon {
  width: 20px;
  height: 20px;
}
