.latest-auctions {
  margin-top: 130px;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  overflow: hidden;
}
.header {
  color: #fff;
  font-family: Sora;
  font-size: 36px;
  font-weight: 600;
  line-height: 45.36px;
  text-align: center;
  margin-bottom: 70px;
  margin-left: 50px;
}
.auction-carousel {
  display: flex;
  align-items: center;
  position: relative;
}
.auction-container {
  display: flex;
  opacity: 1;
  background-color: transparent;
  overflow: hidden;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}
/* Auction Card Styling */
.auction-card {
  flex: 0 0 calc(25% - 20px);
  background-color: transparent;
  padding: 20px;
  border: 1px solid #262840;
  border-radius: 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.auction-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #262840cc;
  color: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-arrow {
  left: 10%;
}
.right-arrow {
  right: 10%;
}
.auction-details {
  padding: 10px;
  display: flex;
  text-align: left;
}
.auction-title {
  font-family: "Sora", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin-right: 10px;
  text-decoration: underline;
  color: #ffffff;
}
.price {
  background: #514cff26;
  border-radius: 4px;
  padding: 5px 10px;
  display: inline-block;
  margin-left: 30px;
}
.price p {
  font-family: "Sora", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #514cff;
  white-space: nowrap;
  padding: 10px 12px;
}
.time-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  font-size: 0.9rem;
  color: #fff;
}
.clock-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
/* Divider */
.divider {
  border: none;
  border-top: 1px solid #eaeaea;
  width: 350px;
  margin: 15px 20px 0 20px;
}

/* Auction Footer Styling */
.auction-footer {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
  font-size: 0.9rem;
  color: #7780a1;
}
.auction-avatars {
  display: flex;
  align-items: center;
}
.auction-avatar {
  width: 30px;
  height: 30px;
}
.bidding-info {
  font-size: 0.9rem;
  color: #7780a1;
}
.love-info {
  margin-left: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.love-icon {
  width: 20px;
  height: 20px;
}
